@tailwind base;
@tailwind components;
@tailwind utilities;

*{
    color: white;
}
body{
    background-color: #000428;
}
#tasklist::-webkit-scrollbar{
    width: 0px;   
  height: 0px;
}
#tasklist {
  -ms-overflow-style: none;  /* for Internet Explorer & Edge */
  scrollbar-width: none;     /* for Firefox */
}
#notification::-webkit-scrollbar{
  width: 0;
  height: 0;
}
#notification{
  -ms-overflow-style: none;  /* for Internet Explorer & Edge */
  scrollbar-width: none;     /* for Firefox */
}
#employeeList::-webkit-scrollbar{
  width: 0;
  height: 0;
}
#employeeList{
  -ms-overflow-style: none;  /* for Internet Explorer & Edge */
  scrollbar-width: none;     /* for Firefox */
}